body {
  background: navy;
  color: white;
  text-align: center;
  font-family: Arial;
}

input {
  width: 80%;
  padding: 10px;
  margin: 10px;
}

button.green {
  background: green;
  color: white;
  padding: 12px;
  width: 80%;
}

button.yellow {
  background: yellow;
  color: black;
}
