body {
  background: url('../assets/milkyway.jpg') no-repeat center center fixed;
  background-size: cover;
  text-align: center;
  font-family: Arial;
  color: white;
}

#top-icons {
  position: absolute;
  top: 10px;
  right: 10px;
}

#top-icons button {
  font-size: 24px;
  margin-left: 10px;
  cursor: pointer;
  background: transparent;
  border: none;
  color: white;
}

#logout {
  position: absolute;
  top: 10px;
  left: 10px;
  font-size: 24px;
  cursor: pointer;
  background: transparent;
  border: none;
  color: white;
}

.tabs {
  margin-top: 200px;
}

.tabs button {
  width: 150px;
  height: 50px;
  margin: 20px;
  font-size: 18px;
  cursor: pointer;
  border-radius: 8px;
  border: none;
  background-color: rgba(0,0,0,0.6);
  color: white;
  transition: 0.3s;
}

.tabs button:hover {
  background-color: rgba(255,255,255,0.7);
  color: black;
}

#game-title {
  margin-top: 100px;
  font-size: 32px;
  text-align: center;
}
