body {
  background: white;
  color: black;
  text-align: center;
  font-family: Arial;
}

input {
  width: 85%;
  padding: 10px;
  margin: 8px;
}

button {
  padding: 12px;
  margin-top: 10px;
  background: green;
  color: white;
  border: none;
  cursor: pointer;
}

#updated-msg {
  color: grey;
  margin-top: 10px;
}

.hidden {
  display: none;
}
